<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-md-offset-3">
			<div class="rsvpContainer">
				<h1>Login</h1>
				<!-- <div class="buttonCenter">
					<a href="/auth/login/facebook" class="socialLogin">Login with Facebook</a>
				</div> -->

				<form method="POST" action="" role="form">
				  <div class="form-group">
				    <label for="email" class="hidden">Email</label>
				    <input type="email" class="form-control" id="email" placeholder="Email" name="email">
				  </div>
				  <div class="form-group">
				    <label for="password" class="hidden">Password</label>
				    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
				  </div>

				  <button type="submit" class="btn submitButton">Submit</button>
				</form>
				<p><span class="betaMode">Just playing? Use betamode@gmail.com (email) and password (password) to log in and look around</span></p>

			</div>
		</div>
	</div>
</div>