<div class="container">
	<h1>We're so thrilled!</h1>
	<p>If you could tell us a bit more about your plans, it will help our wedding go off even better. Thanks! </p>
	<form>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
        	<label for="guestContact">What is a good email or phone number for you just incase we need to follow up?</label>
          	<input type="text" class="form-control" id="guestContact" placeholder="206-867-5309">
          	<label for="plusOne">If you're bringing someone with you, what's their name?</label>
          	<input type="text" class="form-control" id="plusOne" placeholder="Plus one?">
          	<label for="plusKids">Speaking of plus ones, are you bringing any children?</label>
          	<input type="text" class="form-control" id="plusKids" placeholder="0">
          	<label for="plusKidsAge">How old are they?</label>
          	<input type="text" class="form-control" id="plusKidsAge" placeholder="12">
        </div>
      </div> 
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
          <label for="side">Do you know the bride or the groom?</label>
          <input type="text" class="form-control" id="side" placeholder="groom">
          <label for="diet">Any Dietary Restrictions we should know about?</label>
          <input type="text" class="form-control" id="diet" placeholder="gluten">
        </div>
        <button type="button" class="btn btn-default"><a href="/site">Submit RSVP</a></button>
      </div>
    </div>
</div>