<div class="container">
	<h1>______ are getting married!</h1>
	<p>If this is the wedding you intended to RSVP for go ahead and click continue, otherwise  <a href="guest/enter/">try entering another code</a></p>
	<button><a href="rsvp">Continue</a></button>
</div>