<div class="container">
	<h1>We're sorry you can't make it but absolutely understand. Thanks for letting us know!</h1>

	<button type="button" class="btn btn-default"><a href="/site">View Our Page</a></button>  <!--end session -->
</div>