<div class="container">
	<form>
	  <div class="form-group">
	  	<label for="guestFirst">first name</label>
	    <input type="text" class="form-control" id="guestFirst" placeholder="first name">
	    <label for="guestLast">last name</label>
	    <input type="text" class="form-control" id="guestLast" placeholder="last name">
	    <label for="code">Please enter the 5 digit wedding code you were given here</label>
	    <input type="integer" class="form-control" id="code" placeholder="12345">
	  </div>
	  <button>Enter</button>
	 </form>
</div>