<h1>Sounds great! </h1> 
<h2>We'll let the bride and groom know your planning on coming</h2>

<p>DISPLAY INPUTTED FORM DATA HERE</p>

<button type="button" class="btn btn-default"><a href="/site">view wedding details</a></button>