<h1>Sounds great! </h1> 
<h2>We'll let the <%= setting.brideFirst %> and <%= setting.groomFirst %> know</h2>
<p><%= guest.firstName %></p>
<p><%= guest.lastName %></p>
<p>DISPLAY INPUTTED FORM DATA HERE</p>
<button type="button" class="btn btn-default"><a href="/guest/info">button</a></button>