<div class="container">
<h1>Please type in the identification for the wedding would you like to RSVP for?</h1>
	<form action="two" method="get" >
	  <div class="form-group">
	    <input type="integer" class="form-control" id="code" name="weddingCode" placeholder="bradandjan2016">
	  </div>
	  <input type="submit" value="confirm">
	 </form>
</div>