<div class="container">
	<h1>nameBride &amp; nameGroom</h1>
	<h2>date</h2>
	<h2>time</h2>
	<h2>location</h2>

	<h3>Will you be able to attend?</h3>
	<input class="btn btn-default" type="submit" value="Decline">
	<input class="btn btn-default" type="submit" value="Accept">
</div>