<h1>Thanks for taking the time to RSVP. </h1>

<form action="" method="POST" role="form">
  <legend>RSVP Info</legend>

  <div class="form-group">
      <label for="firstName">first name</label>
      <input type="text" class="form-control" name="firstName" id="firstName" placeholder="first name">
      <label for="lastName">last name</label>
      <input type="text" class="form-control" name="lastName" id="lastName" placeholder="last name">
      <input type="hidden" name="portalCode" value="<%= setting.portalCode %>">
      <h2>Will you be able to attend?</h2>
      <div class="radio">
          <label>
            <input type="radio" name="rsvp" id="optionsRadios1" value="false" checked>
            Regretably, no.
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="rsvp" id="true" value="true">
           I'll be there
          </label>
        </div>

  </div>
<input type="submit" value="confirm">
</form>
