<h1>Thanks for taking the time to RSVP. </h1>

<form action="" method="POST" role="form">
  <legend>RSVP Info</legend>

  <div class="form-group">
      <label for="guestFirst">first name</label>
      <input type="text" class="form-control" name="guestFirst" id="guestFirst" placeholder="first name">
      <label for="guestLast">last name</label>
      <input type="text" class="form-control" name="guestLast" id="guestLast" placeholder="last name">
      <h2>Will you be able to attend?</h2>
      <div class="radio">
          <label>
            <input type="radio" name="rsvp" id="optionsRadios1" value="false" checked>
            Regretably, no.
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="rsvp" id="true" value="option2">
           I'll be there
          </label>
        </div>

  </div>
<button type="submit" class="btn btn-primary">Continue</button>
</form>
