<div class="container">
	<h1><%= setting.brideFirst %> and <%= setting.groomFirst %> are doing the timewarp</h1>
	<p>Is this the right wedding? </p>
	<form action="three" method="get">
		<input type="hidden" value="true">
		<input type="submit" value="confirm">
	</form>

</div>