<div class="container">
<div class="portalNav">
    <ul>
      <li><a href="/portal/">portal home</a></li>
      <li><a href="/portal/settings">settings</a></li>
      <li><a href="/portal/tree">tree</a></li>
      <li><a href="/portal/rsvplist">guestlist</a></li>
      <li><a href="/portal/site">view site</a></li>
    </ul>
  </div>
  <div class="page-header">
    <h1>Hey there, <small>We're stoked for you. Please fill out the following information for us to create your page out of. Don't worry, you can always edit it if you change your mind.</small></h1>
  </div>
  <form method="POST" action="" role="form">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <label for="nameBride">What is the Bride's Name?</label>
              <input type="text" class="form-control" name="brideFirst" placeholder="Kim">
              <input type="text" class="form-control" name="brideLast" placeholder="Possible">
            </div>
            <div class="col-sm-12 col-md-6">
              <label for="nameGroom">What is the Groom's Name?</label>
              <input type="text" class="form-control" name="groomFirst" placeholder="Prince">
               <input type="text" class="form-control" name="groomLast" placeholder="Charles">
              </div>
            </div>
        </div>
      </div> 
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
          <label for="date">When's the wedding?</label>
          <input type="text" class="form-control" name="weddingDate" id="date" placeholder="date">
          <label for="time">What time?</label>
          <input type="text" class="form-control" name="time" id="time" placeholder="6:00">
          <label for="location">Where's it at?</label>
          <input type="text" class="form-control" id="location" name="location" placeholder="location">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox"> Are you registered anywhere?
            </label>
          </div>
          <label for="date">If so, copy in a valid link to your registry below, or just list stores if it's not online</label>
          <input type="text" class="form-control" id="registry1" name="registry" placeholder="Amazon">
          <!-- <input type="text" class="form-control" id="registry2" name="registry" placeholder="Amazon">
          <input type="text" class="form-control" id="registry3" name="registry" placeholder="Amazon"> -->
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <label for="portalCode">Pick a unique code for your guests to use to id your profile</label>
        <input type="integer" class="form-control" id="portalCode" name="portalCode" placeholder="2222">
        <label for="header">How do you want to greet your guests?</label>
        <input type="text" class="form-control" name="greeting" id="header" placeholder="We're getting married!">
        <label>Story Time</label>
        <textarea class="form-control" rows="6" name="about">Tell us your story, we'll post it on your page for your guests to gush over.</textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <label for="pictureUpload">Include a photo of you two</label>
        <input type="file" id="pictureUpload" name="picture">
      </div>
      <div class="col-sm-12 col-md-6">
        <label for="contactInfo">What's a good email for guests if they have questions?</label>
        <input type="text" class="form-control" id="contactInfo" name="email" placeholder="email@example.com">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
       <button type="submit" value="submit" class="btn submitButton settingButton center-block">Submit</button>
      </div>
    </div>
  </form>
</div>