
<div class="container">
	<div class="row">
		<div class="col-sm-12 rsvpTop">
			<h1>Need to RSVP?</h1>
			<button type="button" class="btn rsvpMainButton"><a href="/guest/one">Get Started</a></button>
		</div>
	</div>

	<!-- <div class="parallax-window" data-parallax="scroll" data-image-src="/images/trees.jpg"> -->
		<div class="row">
		<div class="col-sm-12 col-md-6 landingTop">
			<h2>No Frills. No Hassle.</h2>
			<p>all the functionality you've dreamed of and then some, so you can do more in less time. (You can thank us later.)</p>
		</div>
		<div class="col-md-6 landingTop">
		<h2>Streamlined RSVP functionality</h2>
		<p>No more messy portals and superfluous information. We use a quick and guided method of rsvp that will get your guests in and out quickly, and report back all the necessary data to you - so you can plan easier and quicker.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-6 landingTop">
		<h2>Streamlined RSVP functionality</h2>
		<p>No more messy portals and superfluous information. We use a quick and guided method of rsvp that will get your guests in and out quickly, and report back all the necessary data to you - so you can plan easier and quicker.</p>
		</div>
		<div class="col-sm-12 col-md-6 landingTop">
		<h2>Focus on what matters</h2>
		<p>We're all about functionality and helping you have the best wedding possible, so check out our extra features - which build your future and existing family trees. Prepare for meeting those distant new relatives-in-law and make an even better first impression!</p>
		</div>
	</div>
<!-- </div> -->
	<div class="row">
		<div class="col-sm-12 col-md-12">
		<h2>Want to give it a shot? </h2>
		<p>The site's still in beta mode, but click below to start registering and get set up! It's as simple as one form and you're good to start inviting your loved ones to your happy day.</p>
		</div>
	</div>

        <div class="row footer">
            <div class="col-md-6 footerText">
                <h3>RSVPtree</h3>
                <p>RSVPtree was created out of frustration for not having anything like this while planning her own wedding by Brittany Brassell, as a class project for General Assembly Seattle 2015.</p>
             		<li><i class="fa fa-paper-plane"></i>
                  		<a href="#">Portfolio</a>
                	</li>
             		<li><i class="fa fa-twitter"></i>
                  		<a href="https://twitter.com/BrittanyIRL">      
					 	       @brittanyIRL 
						   </a>
					</li>
                	<li><i class="fa fa-linkedin"></i>
                    <a href="https://www.linkedin.com/in/brittanybrassell">
						     Brittany Brassell
						</a>
					</li>
                	<li><i class="fa fa-github-alt"></i>
                    <a href="https://github.com/BrittanyIRL">
                		BrittanyIRL
                		</a>
                	</li>
            </div>
            <div class="col-md-6 footerImage">
            	<img src="/images/bbrassell.jpg" class="bio">
            </div>
        </div>



</div><!--end container -->