
<div class="container">
	<div class="intro-main">
		<h1>No Frills. No Hassle.</h1>
		<p>all the functionality you've dreamed of and then some</p>
		<p>You can thank us later</p>

	</div><!--end intro main -->

	<div class="about-main">
		<!-- <div class="row">
			<div class="col-sm-12 col-md-6">
				<p>about example</p>
			</div>
			<div class="col-sm-12 col-md-6">
				<p>about example</p>
			</div>

		</div> -->

	</div><!-- end about main -->


</div><!--end container -->