
<div class="container">
	<div class="flexContainer">
		<div class="flexOne rsvpTop">
			<div class="beta">
				<h2>Curious how it works? </h2>
				<p>The site's still in beta mode, but click below to start registering and get set up! If you just want to test it out, you can log in with our test account with the email: testuser@test.com and password: password. Feel free to play around with it.</p>
			</div>
			<h1>Need to RSVP?</h1>
			<button type="button" class="btn rsvpMainButton"><a href="/guest/one">Get Started</a></button>
		</div>
	</div>

	<!-- <div class="parallax-window" data-parallax="scroll" data-image-src="/images/trees.jpg"> -->
		<div class="flexContainer">
		<div class="flexItem landingTop">
			<h2>No Frills. No Hassle.</h2>
			<p>all the functionality you've dreamed of and then some, so you can do more in less time. (You can thank us later.)</p>
		</div>
		<div class="flexItem landingTop">
		<h2>Streamlined RSVP functionality</h2>
		<p>No more messy portals and superfluous information. We use a quick and guided method of rsvp that will get your guests in and out quickly, and report back all the necessary data to you - so you can plan easier and quicker.</p>
		</div>
		<div class="flexItem landingTop">
		<h2>How it works</h2>
		<p>As an admin - use RSVPtree to organize and capture all of your guest rsvp information in a simple form. Sign up with a valid email or your facebook account, fill out your wedding details and attribute an 8 digit code (as specified in our form) for your guests to use when they RSVP. From there, your guests will use the RSVP button at the top of this page here and be guided through a simple 4 page process and be rsvp'd within a minute of starting the process - eliminating extra paper and stamps as well as cutting down on your waiting time to find out if people are coming! Everyone wins.</p>
		</div>
		<div class="flexItem landingTop">
		<h2>Focus on what matters</h2>
		<p>We're all about functionality and helping you have the best wedding possible, so check out our extra features - which build your future and existing family trees. We do this because having been through this process ourselves, it's one thing that would have been useful. Take your RSVP'd guests (or create new guests yourself within your admin portal) and use them to create a family tree diagram for you to better learn connections you are marrying into - be they family or networking. Prepare for meeting those distant new relatives-in-law and make an even better first impression!</p>
		</div>
	</div>
<!-- </div> -->


        <div class="flexContainer footer">
            <div class="flexFooter footerText">
                <h3>RSVPtree</h3>
                <p>RSVPtree was created out of frustration for not having anything like this while planning her own wedding by Brittany Brassell, as a class project for General Assembly Seattle 2015. If you have questions or comments, please contact her in one of the below ways. Copyright 2015 Brittany Brassell</p>
             		<li><i class="fa fa-paper-plane"></i>
                  		<a href="https://brittany.brassell.com">Portfolio</a>
                	</li>
             		<li><i class="fa fa-twitter"></i>
                  		<a href="https://twitter.com/BrittanyIRL">      
					 	       @brittanyIRL 
						   </a>
					</li>
                	<li><i class="fa fa-linkedin"></i>
                    <a href="https://www.linkedin.com/in/brittanybrassell">
						     Brittany Brassell
						</a>
					</li>
                	<li><i class="fa fa-github-alt"></i>
                    <a href="https://github.com/BrittanyIRL/rsvpTree">
                		BrittanyIRL
                		</a>
                	</li>
            </div>
            <div class="flexFooter footerImage">
            	<img src="/images/bbrassell.jpg" class="bio">
            </div>
        </div>



</div><!--end container -->


