<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="page-header">
				<h1>DB NAMES + are getting married!</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-5">
			<h2>picture here in a circle</h2>
		</div>
		<div class="col-sm-12 col-md-7">
			<h2>DB HEADER HERE</h2>
			<p>DB TEXT HERE</p>
			<h3>The (not so) fine print</h3>
			<ul>
				<li>Date: + DB DATE </li>
				<li>Time: + DB TIME </li>
				<li>Location: + DB location</li>
			</ul>
			<p>We are registered at: + DB DATA FOR LOOP</p>
			<p>Just in case you need to get a hold of us: DB CONTACT</p>
		</div>
	</div>
</div>