/*universals */
body { 
	padding-top: 70px; 
	background-color: rgba(151,156,156,0.6);
	font-family: 'Raleway', sans-serif;
}
a:hover {
	text-decoration: none;

}

ul {
	list-style-type: none;
}

/*navigation */

.navImg {
	background-image: url('/images/transparenttree.png');
	width:40px;
	height: 40px;
	background-size: contain;
	margin-top: -10px;
}

.nav.navbar {
	background-color: #343642 !important;
}

/*portal stylings - main page */
.portalNav {
	width: 100%;
	padding-right: 5em;
}

.portalNav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: right;
}

.portalNav ul li {
	display: inline;
}

.portalNav ul li a {
	text-decoration: none;
}

.portalNav ul li a:hover {
	text-decoration: none;
	color: green;
}


.portalNav a {
	color: #348899;
	margin: auto .2em;
	font-size: 1em;
}

.portalNav a:hover {
	color: #343642
}


.treePortal {
	width: 250px;
	height: 250px;
	margin-left: 5em;
}

.rsvpPortal {
	text-align: right;
	padding-right: 4em;
}

.rsvpPortal span {
	margin-left: .5em;
}

.rsvpStats {
	background: transparent;
}

.portalPhoto {
	max-width: 400px;
	max-height: 400px;
	border-radius: 10px;
}

/*RSVP FORMS*/

.rsvpContainer {
	background-color: rgba(52,54,66,0.3);
	padding: 1em 2em 2em 2em;
}

.rsvpContainer h1 {
	text-align: center;
	padding: .5em;
	color: #343642 !important;
}

.rsvpContainer h2 {
	text-align: center;
	color: #343642;
}

.rsvpFinalButton {
	color: #348899 !important;
	background-color: rgba(242,235,199,0.6) !important;
	font-size: 1.5em;
	font-weight: 600;
	margin: 0 0 0 32%;
}

.rsvpContainer p {
	padding-top: .25em;
	text-align: center;
}

.confirmButton {
	color: #348899;
	background-color: rgba(242,235,199,0.6);
	font-size: 1.5em;
	font-weight: 600;
/*	margin: 0 0 0 30%;*/
	margin: 0 auto;
}


/*log in styles */
.buttonCenter {
	text-align: center;
	margin: 1em;
}

.socialLogin{
	color: #348899;
	background-color: rgba(242,235,199,0.6);
	padding: .5em;
	font-size: 1.5em;
	border-radius: 5px;
	font-weight: 600;
}

.socialLogin:hover {
	color: rgba(150,45,62,0.6);
}

.submitButton {
	color: #348899;
	background-color: rgba(242,235,199,0.6);
	font-size: 1.5em;
	font-weight: 600;
}

.settingButton {
	margin: 2em auto;
}



/*portal/site and guest/info */

.finePrint {
	border-top: 3px solid #343642;
	width:75%;
	margin-top: 1.6em;
	padding: .5em 1em 2em 1em;
}

/*landing page */

.rsvpTop {
	text-align: center;
	background-color: rgba(52,136,153,0.5);
	border-bottom: 4px solid #343642;
	padding: 3em;
}

.landingTop {
	color: #F2EBC7;
	text-align: justify;
	border: 1em solid white;
/*	width: 42%;*/
	height: 280px;
	background-color: rgba(151,156,156,0.8);
}

.landingTop p{
	padding: 2em;
	text-align: justify;
}



.landingTop h2 {
	text-align: center;
}

.beta {
	color: #962D3E;
	padding: 2em 3em 2em 3em;
}


.footer {
	padding-bottom: 5em;
	list-style-type: none;
}

.footerText {
	background-color: rgba(52,136,153,0.6);
	padding: 2em 4em 3em 6em;

}
.footerText a{
	color: #962D3E;
}
.footerImage {
	text-align: center;
	padding: 2em 4em 3em 6em;
}

.bio {
	width: 250px;
	min-height: 250px;
	border-radius: 50%;
	margin-left: 5em;
}

.error {
	width: 80%;
	min-height: 600px;
	background-image: url('/images/princess.gif');
	background-size: cover;
	margin: -70px 0 0 10%;
	padding-top: 70px;
	text-align: center;
	color: #F2EBC7;
}

.error button {
	margin-top: 5em;
	width: 100px;
	height:50px;
}

.rsvpMainButton {
	color: #962D3E;
	background-color: #343642;
	padding: .6em;
	font-size: 2em;
	border-radius: 5px;
	font-weight: 600;
}

.comingSoon {
	width: 500px;
	margin-left: 25%;
}

i {
	padding-right: 1em;
}